@import url("./new-task-form/style.css");

/* TODO: Move this class to features */
.todo-wrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-wrapper h1 {
  text-align: center;
}
