@import "./components/style.css";

.wrapper {
  display: flex;
  place-items: center;
  justify-content: center;
}

.todo-wrapper h1 {
  text-align: center;
  max-width: 300px;
}

.todo-list {
  padding: 0;
  max-width: 100%;
}
